################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/obj
/Src/SourceGrid/obj
/Src/SourceGrid.Extensions/obj
/Src/WindowsFormsSample/obj
